body{
  font-family: "Montserrat", sans-serif;

}
#header-section{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  color: #ff6600;
}
#mid-section{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  color: rgba(255,255,255,.5);
}
.img-logo{
  height: 5.5rem;
  width: 7.5rem;
}
.head-title{
  margin-top: 50px;
  font-size: 35px;
  text-align: right;
}
.label-name{
  color: #fff;
  font-size: 20px;
}
.search-label
{
  padding-right: 10px;
}
.navbar{
  margin-bottom: 2%;
}
.card-img{
  margin-left: 20px;
  margin-top: 20px;
}
.accordion-class{
  margin-top: 30px;
}
.btn-link{
  color: rgba(255,255,255,.5);
}
.btn-outline-success{
  color: rgba(255,255,255,.5);
}
.card-body{
  color: black;
}
.footer-section{
  height: 100px;
  padding-top: 30px;
  font-size: 15px;
}
